@font-face {
    font-family: 'Product Sans';
    src: url('../Product Sans Regular.ttf') format('truetype');
}
body {
    font-family: 'Product Sans';
    background-image: linear-gradient(to bottom left, black, rebeccaPurple, rgba(0, 119, 204, 0.625));
}
p {
    color: white;
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
}
h4 {
    color: white;
    text-align: center;
}
h5 {
    color: white;
    text-align: center;
}
.header {
    text-align: center;
    color: white;
}
.footer {
    padding: 10px;
    text-align:center;
    color: white;
}
.quote-card {
    padding: 10px;
    text-align:center;
    color: white;
    border-style: solid;
}
.search {
    text-align:center;
    color: white;
}
.newline {
    text-align:center;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: rgb(96,167,221);
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a:active {
    background-color: #2196F3;
    color: white;
}
.information {
    text-align: center;
    color: white;
}
#img {
    border: 4px solid rebeccapurple;
    float: left;
    vertical-align: top;
    width: 50px;
    height: 50px;
}
#homepage_img {
    border: 4px solid rebeccapurple;
    float: center;
    width: 200px;
    height: 200px;
    margin: 5px;
}