.container {
    display: grid;
    place-items: center;
    position: relative;
    width: 355px;
    height: 255px;
    border-radius: 1em;
    background: linear-gradient(50deg, #2a5a3b, #1e4886);
    overflow: hidden;
}
.container::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 450px;
    top: 0;
    right: 35px;
    transition: 1.9%;
    background: linear-gradient(50deg, #00ff59, #1e4886);
    transform: rotate(-45deg) translate(0, -100px);
}
.quote-card {
    display: grid;
    place-items: center;
    width: 347px;
    height: 247px;
    background: #171614;
    border-radius: .8em;
    z-index: 1;
    color: #858585;
    overflow: hidden;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}
.quote-card:hover {
    color:#fff
}
.container:hover::before {
    animation: effect 1.9s;
}
@keyframes effect {
    100% {
        transform: rotate(-45deg) translate(0, 450px);
    }
}
