@font-face {
    font-family: 'Droid Sans Mono';
    src: url(../fonts/DroidSansMono.ttf);
}
body {
    font-family: 'Droid Sans Mono';
    background-color: white;
}
p {
    color: black;
    text-align: center;
}
h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
}
h4 {
    color: black;
    text-align: center;
}
.header {
    text-align: center;
    color: black;
}
.footer {
    text-align:center;
    color: black;
    background-color: orangered;
}
.quote {
    text-align:center;
    color: black;
}
.search {
    text-align:center;
    color: black;
}
.newline {
    text-align:center;
    color: black;
}
.navigation {
    text-align: center;
    background-color: white;
}