@font-face {
    font-family: 'Droid Sans Mono';
    src: url(../fonts/DroidSansMono.ttf);
}
body {
    font-family: 'Droid Sans Mono';
    background-color: white;
}
img {
    border: 4px solid rebeccapurple;
    float: center;
    width: 200px;
    height: 200px;
}
p {
    color: black;
    text-align: center;
}
h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
}
h4 {
    color: black;
    text-align: center;
}
h6 {
    color: rebeccapurple;
    text-align: center;
}
.header {
    text-align: center;
    color: black;
}
.footer {
    padding: 10px;
    text-align:center;
    color: black;
    background-color: rebeccapurple;
}
.quote {
    background-color: rebeccapurple;
    text-align:center;
    color: black;
}
.search {
    text-align:center;
    color: black;
}
.newline {
    text-align:center;
    color: black;
}
.navigation {
    text-align: center;
    background-color: white;
}
.information {
    text-align: center;
    color: black;
}
.purptext {
    padding: 10px;
    text-align: center;
    background-color: rebeccapurple;
    color: white;
}